.discounts {

    .discount-item {
        display: flex;
        justify-content: space-evenly;
        margin: 110px 15%;
        gap: 50px;


        .discount-item-column {

            .discount-item-column-image {
                width: 20vw;
            }

            &__title {
                font-size: 34px;
                margin-bottom: 20px;
            }

            &__desc {
                font-size: 18px;

                a {
                    color: red;
                }

                .discount-list {
                    list-style: square;
                }
            }

            &__undertext {
                margin: 30px 0;
                font-size: 12px;
                font-style: italic;
            }

            table {
                border: 1px solid rgb(196, 196, 196);
                margin: 30px 0;

                td {
                    text-align: center;

                }

                td:nth-child(1) {
                    line-height: 25px;
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    margin: 5px 0;

                    strong {
                        text-align: center;
                    }

                    ul {
                        list-style: none;
                    }
                }
            }

            .discount-more {
                text-align: center;

                .btn-more {
                    background: none;
                    background: #ce2026;
                    border: none;
                    color: #fff;
                    padding: 10px 20px;
                    height: 50px;
                    font-size: 30px;
                    transition: all 0.6s ease-out;
                }

                .btn-more:hover {
                    cursor: pointer;
                    background: #3127ed;
                }
            }
        }
    }

    .discount-item:nth-child(3) {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width:768px) {

    .discounts {

        .discount-item {
            margin: 0 20px;
            flex-direction: column;
            gap: 20px;

            .discount-item-column {

                .discount-item-column-image {
                    width: 100%;
                }
            }
        }

        .discount-item:nth-child(3) {
            flex-direction: column;
        }
    }
}