.info {
    background-color: #ce2026;
    text-align: center;
    height: 127px;

    .info-box {
        display: flex;
        justify-content: center;
        gap: 40px;

        .info-box-item {
            margin: 35px 0;
            max-width: 400px;
            color: #fff;

            &__title {
                font-size: 19px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            &__desc {
                padding: 0;
            }
        }
    }
}

@media (max-width:768px) {
    .info {
        display: none;
    }
}