.offers {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;

    .offers-wrapper {
        display: flex;
        gap: 20px;

        &__item {
            max-width: 50%;

            .offers-box {
                display: flex;
                flex-direction: column;
                gap: 50px;

                &__title {
                    font-size: 30px;
                    font-weight: 600;
                }

                &__desc {
                    font-size: 17px;
                    line-height: 28px;
                }

                &__btn {
                    text-align: center;
                    background-color: #4d4d4d;
                    width: 60%;
                    margin: 0 auto;
                    font-weight: 600;
                    transition: 0.2s ease-in-out;
                }

                &__btn:hover {
                    background-color: #ce2026;
                }
            }

            .offers-flex-column {
                display: flex;
                gap: 100px;

                .offers-column {

                    .offers-column-item {
                        display: flex;
                        align-items: center;
                        margin: 10px 0;
                        gap: 15px;

                        &__icon {

                            img {
                                width: 50px;
                                height: auto;
                            }
                        }

                        &__desc {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .offers {
        width: 100%;

        .offers-wrapper {
            flex-direction: column;

            &__item {
                max-width: 80%;
                margin: 0 auto;

                .offers-box {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:575px) {
    .offers {

        .offers-wrapper {
            flex-direction: column;

            &__item {

                .offers-box {
                    gap: 20px;
                    text-align: left;

                    &__title {
                        font-size: 20px;
                    }

                    &__desc {
                        font-size: 15px;
                        line-height: 22px;
                    }
                }

                .offers-flex-column {
                    gap: 25px;
                    flex-direction: column;
                }
            }
        }
    }
}