.repair {

    .repair-box {

        &__desc {
            line-height: 26px;
            padding: 0 25%;
        }
    }

    .repair-flex {

        .repair-flex-row {
            display: flex;
            flex-direction: column;

            .repair-flex-item {
                margin: 40px 20px;
            }
        }
    }

    .repair-tow {
        transition: 0.4s ease-in-out;

        .repair-tow-icon {
            padding: 10px;
        }

        .repair-tow-contact {
            color: #fff;
            margin: 0 0 0 auto;
            padding-right: 50px;

            .phone-contact {
                display: flex;
                align-items: center;

                &__image {
                    width: 30px;
                    height: 30px;
                }

                &__text {
                    margin-left: 15px;
                    font-size: 30px;
                }

            }

            .contact {
                font-size: 15px;
            }
        }
    }

    .repair-tow:hover {
        cursor: pointer;
        background: #363636;
    }
}

@media (max-width:768px) {

    .repair {
        text-align: center;

        .repair-box {

            &__desc {
                padding: 0 20px;
            }
        }

        .repair-tow {

            .repair-tow-contact {
                margin: 20px 0 0;
                padding: 0;
            }
        }
    }
}